body {
  font-family: JetBrains Mono;

  background: #2c2b3d;

  height: 100vh;

  margin: 0;
}

.page {
  width: 1280px;

  margin: 0 auto;
  padding: 70px 90px 0px 101px;
}

nav {
  display: flex;
  padding-left: 0px;
  justify-content: space-between;

  margin: 0 auto 101px;
}

ul {
  display: flex;
  gap: 64px;
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  line-height: 28px;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section {
  text-align: center;
}

h1 {
  font-size: 36px;
  line-height: 40px;
  color: #fff;

  font-weight: bold;

  min-width: 361px;
}

span {
  color: #00bfa6;
  font-weight: bold;
}

section p {
  color: #c2c2c2;

  font-weight: 400;
  font-family: Open Sans;
  line-height: 28px;

  margin: 59px 0;

  max-width: 604px;
}

footer {
  font-size: 14px;
  line-height: 28px;

  text-align: center;

  margin-top: 450px;

  color: #fff;
}

footer .line {
  width: 570px;
  height: 1px;

  background: #00bfa6;

  margin: 0 auto 27px;
}

footer a {
  font-weight: bold;
}

#padlock {
  position: fixed;
  bottom: 0;
  left: 0;

  margin: 0 0 20px 20px;
}
